output/
build/
release/
gen/
src/gen/
lib/
node_modules/
out/
out-test/
.idea/
.vscode/
.eslintcache
*.log
*.iml
package-lock.json
project.xcworkspace
/libraries/ext-*
dist/
artifacts/
tsconfig.deep.json
.eslintcache
*.history
*.tsbuildinfo
**/.project
coverage/
*junit.xml
buildinfo.json
